apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata: 
   name: {{ DATASPINE_IMAGE_REGISTRY_NAMESPACE }}-{{ DATASPINE_MODEL_NAME }}-dashboardstream
spec: 
   host: {{DATASPINE_IMAGE_REGISTRY_NAMESPACE}}-{{DATASPINE_MODEL_NAME}}.default.svc.cluster.local