apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ model_name }}-{{ model_version }}
  namespace: {{ namespace }}
  labels:
    flint.dev/managed: "true"
    flint.dev/model: "{{ model_name }}"
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ model_name }}-{{ model_version }}
  minReplicas: 1
  maxReplicas: {{ replicas * 4 }}
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
